.top{position:fixed;
    width:100%;
    top:0;
    z-index:1;}

header{background-color: lightgrey;
    margin:0;
    Padding:7px;
    color: brown;
    border:3px solid black;
    position:relative;}

#span1
    {position:absolute;
    left:10px;
    bottom:7px;}
#span2
    {position:absolute;
    right:10px;
    bottom:5px;}

.upper{border-right: 1px hidden;
        padding-left: 3%;
        padding-right: 1%;
        padding-top: 0%;
        padding-bottom: 0%;}
a:link.upper{color: black;
        text-decoration: none;}
a:visited.upper{color: black}
a:hover.upper{background-color: darkgrey;}
div.topright{position:absolute;
        right:470px;
        bottom:0px;
        border: 3px hidden;
        margin-right:0%;
        width: 25%;
        text-align: center;}
        
button:hover.button{background-color: #dbdbd9;}
button:active.button{background-color: #adaba6}
.button{font-family: 'David Libre', serif;}

#pagename{text-align:center;}

a   {color:brown;
    text-decoration: none;}

body{font-size: 15px;
    font-family: "Times New Roman";}

.image1{padding:0px;
    margin:0px;
    margin-top:0px;} 

figcaption{text-align: center;}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 13px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: "Times New Roman";
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: darkgray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Times New Roman";
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */

.container{position:relative;
    border: 5px solid blue;}
.container1{position:absolute;
    left:15px;
    top:100px;}
.container2{
    width: 820px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position:absolute;
    right:15px;
    top:115px;
    }

.footer{position:absolute;
    width:auto;
    margin-top:53%;
    margin-left:33%;
    padding:20px;
    text-align:center;}
